body {
  padding: 0;
  width: 100%;
  margin: auto !important; /* Center page on wide screens */
  xfont-family: 'Lato', sans-serif !important;
  background-color: #eeeeee;
  overflow: scroll !important;
}

.mesh-header {
  padding: 8px 0;
  color: #ffffff !important;
  background-color: #535353;
  border-bottom: 2px solid #ffffff;
}

.mesh-appname {
  font-size: 10px;
}

#mesh-content {
  margin: auto;
  padding-top: 8px;
  width: 95%;
  background: green !important;
}

.search-box {
  padding: 1.5em;
  background: #abcdef;
}

.result {
  background: white;
  padding: 0;
  margin: 0 5px;
}

.result-description {
  background: white;
  margin-bottom: 2.5em;
}

.mesh-links {
}

.mesh-link {
  display: inline-block;
  margin: 5px 1em;
}

.marked_item {
  color: white !important;
  background-color: black !important;
}

@media (min-width: 320px) {
  .mesh-appname {
    font-size: calc(10px + 14 * (100vw - 320px) / 1046); /* 320px:10px, 1366px:24px */
  }

  body {
    width: calc(304px + 720 * (100vw - 320px) / 1046) !important; /* 320px:304px, 1366px:1024px */
  }
  
  .xinfo-box a {
    font-size: calc(9px + 7 * (100vw - 320px) / 1046); /* 320px:9px, 1366px:16px */
  }
}

@media (min-width: 1366px) {
  .mesh-appname {
    font-size: 24px;
  }

  body {
    width: 75%;
  }

  .xinfo-box a {
      font-size: 16px;
  }
}

@media print {
  * {
    font-size: 14pt !important;  
  }
}

.Wt-domRoot {
  height: auto !important;
}

/*
#page {
  min-height: 100%;
  xposition:relative;
}


#xmesh-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  height: 122px; // Height of the footer image (112px) plus vertical border and padding
  background-color: white;
  border-top: 2px solid #535353;
  display: table;
}

#xfooterLeft {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

#xfooterLogo {
  max-width: 100%;
  max-height: 100%;
}

#xfooterRight {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.xinfo-box a, .mesh-link {
  color: black;
  background-color: #eeeeee;
  text-align: center;
  text-decoration: underline;
  font-size: 9px;
  padding: 5px;
}




.Wt-tabs {
  padding-top: 0 !important;
  background: inherit;
}

.Wt-tabs li {
  border-bottom: none;
  background: inherit;
}

.Wt-tabs .itemselected {
  background-position: 0% 0%;
}

.Wt-tabs .item {
  background-position: 0% 0%;
}

.Wt-tabs .itemselected a {
  background-position: 0% 0%;
  background: #abcdef;
}

.Wt-tabs .item a {
  background-position: 0% 0%;
  background: #89abcd;
  margin: 0 1px;
}

.Wt-stack {
  background: white;
}


.Wt-suggest {
  background-color: #eeeeee;
  color: black;
}


.Wt-panel {
  border: none !important;
  background-color: white !important;
}

.Wt-panel .body {
 background: white !important;
}

.Wt-panel .titlebar {
  color: black !important;
  background: white !important;
  font-size: large !important;
  font-weight: bold !important;
}

.scope {
  font-weight: bold;
}

.dialog-layout {
  background:#A8CCD8;
}

.Wt-dialog .titlebar {
  background:#A8CCD8;
  border-bottom: 1px solid grey;
  color:black !important;
}

.Wt-treeview ul {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  
}
*/
/*
.marked_item::after {
  content: url('images/star.png') !important;
}
*/
