body {
  width: 100%;
  margin: auto !important; // Center page on wide screens
  color: Black;
  background-color: WhiteSmoke;
}

.mesh-page {
  padding: 0 0.2em;
  background-color: White;
}

.mesh-header {
  padding: 0.5em 0;
  color: White;
  background-color: DimGrey;
  border-bottom: 2px solid White;
}

.mesh-appname {
  font-size: 10px;
  text-align: center;
}

.mesh-content {
  padding-top: 0.5em;
}

.Wt-stack {
  padding-top: 1em;
  background: white;
}

.search-box {
  text-align: center;
  padding: 1em;
  background-color: SkyBlue;
}

.search-edit .form-control {
  display: inline-block !important;
  width: 80% !important;
}

.search-button {
  padding-left: 1em !important;
}

.listitem {
  background: AliceBlue;
  border-right: 1px solid LightSkyBlue;
  border-bottom: 1px solid LightSkyBlue;
  color: MidnightBlue;
  padding: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.listitem-link a {
  color: MidnightBlue;
}

.listitem-description {
  background: White;
  color: Black;
  padding: 0.2em;
}

.bold {
  font-weight: bold;
}

.top-margin {
  margin-top: 1em;
}

.mesh-link {
  display: inline-block;
  margin: 5px 1em;
}

.external-link:after {
  content: "\1F517";
}

.marked_item {
  color: white !important;
  background-color: black !important;
}

@media (min-width: 320px) {
  body {
    width: calc(304px + 720 * (100vw - 320px) / 1046) !important; // 320px:304px, 1366px:1024px
  }
  .mesh-appname {
    font-size: calc(10px + 14 * (100vw - 320px) / 1046); // 320px:10px, 1366px:24px
  }
}

@media (min-width: 1366px) {
  body {
    width: 75%;
  }
  .mesh-appname {
    font-size: 24px;
  }
}

@media print {
  * {
    font-size: 14pt !important;  
  }
}
