@media print {
  * {
    font-size: 14pt !important;  
  }
}

.marked_item {
  color: white !important;
  background-color: black !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif !important;
  background-color: #eeeeee;
  overflow: auto !important;
}

#page {
  min-height: 100%;
  position:relative;
}

.info-box a, .mesh-link {
  color: black;
  background-color: #eeeeee;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}

#mesh-header {
  width: 100%;
  padding: 8px 0;
  color: #ffffff;
  background-color: #535353;
  border-bottom: 2px solid #ffffff;
}

#mesh-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  height: 122px; /* Height of the footer image (112px) plus vertical border and padding */
  background-color: white;
  border-top: 2px solid #535353;
}

.mesh-footer-logo {
  max-width: 231px;
  max-height: 112px;
  width: 100%;
  height: auto;
}

.mesh-appname {
  font-size: 10px;
}

#mesh-content {
  margin: auto;
  padding-top: 8px;
  padding-bottom: 142px; /* Height of mesh-footer plus padding and whitespace */
  width: 95%;
}

@media (min-width: 320px) {
  .mesh-appname {
    font-size: calc(10px + 14 * (100vw - 320px) / 1046); /* 320px:10px, 1366px:24px */
  }

  #mesh-content {
    width: calc(304px + 720 * (100vw - 320px) / 1046); /* 320px:304px, 1366px:1024px */
  }
}

@media (min-width: 1366px) {
  .mesh-appname {
    font-size: 24px;
  }

  #mesh-content {
    width: 75%;
  }
}

.Wt-tabs {
  padding-top: 0 !important;
  background: inherit;
}

.Wt-tabs li {
  border-bottom: none;
  background: inherit;
}

.Wt-tabs .itemselected {
  background-position: 0% 0%;
}

.Wt-tabs .item {
  background-position: 0% 0%;
}

.Wt-tabs .itemselected a {
  background-position: 0% 0%;
  background: #abcdef;
}

.Wt-tabs .item a {
  background-position: 0% 0%;
  background: #89abcd;
  margin: 0 1px;
}

.Wt-stack {
  background: white;
}

.search-box {
  padding: 1.5em;
  background: #abcdef;
}

.result {
  background: white;
  padding: 0;
  margin: 0 5px;
}

.result-description {
  background: white;
  margin-bottom: 2.5em;
}

.Wt-suggest {
  background-color: #eeeeee;
  color: black;
}

.mesh-links {
}

.mesh-link {
  display: inline-block;
  margin: 5px 1em;
}

.Wt-panel {
  border: none !important;
  background-color: white !important;
}

.Wt-panel .body {
 background: white !important;
}

.Wt-panel .titlebar {
  color: black !important;
  background: white !important;
  font-size: large !important;
  font-weight: bold !important;
}

.scope {
  font-weight: bold;
}

.dialog-layout {
  background:#A8CCD8;
}

.Wt-dialog .titlebar {
  background:#A8CCD8;
  border-bottom: 1px solid grey;
  color:black !important;
}

.Wt-treeview ul {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  
}

/*
.marked_item::after {
  content: url('images/star.png') !important;
}
*/
